@import "//frontend/src/main.scss";

h1 {
  text-align: center;
}
p {
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.leaflet-container {
  height: 60vh;
  margin-bottom: 20px;
}

.sightingsContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sightingsCard {
  display: flex;
  flex-direction: column;
  width: 21%;

  img {
    max-width: 100%;
    aspect-ratio: 1/1;
  }
}

#custom-switch {
  width: 4rem;
  height: 2rem;
  background-image: url("hamburger_list_icon.svg");
  background-size: 35%;
}

.form-check-label {
  margin-left: 10px;
}
.form-check {
  display: flex !important;
  align-items: center;
}

.form-switch .form-check-input:focus {
  background-image: url("hamburger_list_icon.svg");
}

.form-switch .form-check-input:checked {
  background-image: url("location_map_icon.svg") !important;
}
