@import "../../main.scss";

h1 {
  text-align: center;
}
p {
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.leaflet-container {
  height: 60vh;
  margin-bottom: 20p;
}

.sightingsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col {
  display: flex;
  justify-content: center;
}

.card-text {
  text-align: left;
}

#layout-switch {
  width: 4rem;
  height: 2rem;
}

.layoutToggleForm {
  position: relative;
  display: flex;
  align-items: center;
}

.fa-list {
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  color: white;
}

.fa-location-pin {
  position: absolute;
  top: 0.75rem;
  left: 2.625rem;
  color: #bfbfbf;
  transition: color 0.3s;
}

#layout-switch:focus + label .fa-location-pin {
  color: lighten($color: $primary, $amount: 18);
}

#layout-switch:checked + label .fa-location-pin {
  color: $primary;
}

.form-label {
  margin-bottom: 0 !important;
  margin-left: 10px;
}
